<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% if title %}{{ title }} - {% endif %}David Hunter</title>
    
    <link rel="stylesheet" type="text/css" href="/assets/css/stylesheet.css">
  </head>
  
  <body>
    {% include 'header.njk' %}
    
    <main>
      <div class="container">
        {{ content | safe }}
      </div>
    </main>
    
    {% include 'footer.njk' %}
  </body>
</html>