---
layout: 'base.njk'
---

<article class="blog-entry">
  <p class="section-title">Blog Entry</p>
  <h2 class="title">{{ title }}</h2>
  <p class="metadata">Published by {{ author }} on {{ date | postDate }} at {{ time }}.</p>
  {{ content | safe }}
</article>