<footer>
  <div class="container">
    <p>Copyright &copy; David Hunter. <script type="text/javascript"> document.write('<p><a href="javascript: toggle_color_scheme();">Toggle Color Scheme</a></p>'); </script></p>
    
    <script type="text/javascript">
      function toggle_color_scheme()
      {
        document.body.classList.toggle( 'toggle-color-scheme' );
      }
    </script>
  </div>
</footer>