<header>
  <div class="container">
    <h1><a href="/">David Hunter</a></h1>
    <p><i>Personal Website</i></p>
  </div>
</header>

<nav>
  <div class="container">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </div>
</nav>