---
title: Movies Blog
layout: "base.njk"
---

<h2 class="section-title">Blog Entries for Movies</h2>

<section class="blog-entries">
  {% for entry in collections.movie | reverse %}
    {% include 'entry-snippet.njk' %}
  {% endfor %} 
</section>