---
title: About
layout: 'base.njk'
---

<h2>Hello, I'm David.</h2>

<p><i>Internet Services Specialist from Ayrshire, Scotland.</i></p>

<h3>Contact Me</h3>

<p>You can send me an email anytime to any of the following email addresses.</p>

<ul>
  <li class="text_email_address">contact [at] davidhunter [dot] scot</li>
  <li class="text_email_address">d [at] vidhunter [dot] scot</li>
  <li class="text_email_address">david [dot] hunter [at] dah [dot] scot</li>
</ul>

<script>
  var email_addresses = document.getElementsByClassName( 'text_email_address' );

  for( let i = 0; i < email_addresses.length; i++ )
  {
    var the_email_address = email_addresses[ i ].innerHTML.replaceAll( ' [at] ', '@' ).replaceAll( ' [dot] ', '.' );

    email_addresses[ i ].innerHTML = '<a href="mailto:' + the_email_address + '" target="_blank">' + the_email_address + '</a>';
  }
</script>

<h3>My Website</h3>

<p>A <a href="https://jamstack.org" target="_blank">JAMstack</a> based project powered by the <a href="https://11ty.dev" target="_blank">11ty</a> static site generator, with the <a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a> templating language, and hosted by <a href="https://pages.cloudflare.com" target="_blank">Cloudflare Pages</a>. Source code available on <a href="https://github.com/DavidHunterScot/Website" target="_blank">GitHub</a>.</p>