---
title: About
layout: 'base.njk'
---

<h2>Hello, I'm David.</h2>

<p><i>Internet Services Specialist from Ayrshire, Scotland.</i></p>

<h3>Contact Me</h3>

<p>
  You can send me an email anytime:
  <script type="text/javascript">
    document.write('contact' + '@' + 'davidhunter' + '.' + 'scot');
  </script>
  <noscript>contact [at] davidhunter [dot] scot</noscript>
</p>

<h3>My Website</h3>

<p>A <a href="https://jamstack.org" target="_blank">JAMstack</a> based project powered by the <a href="https://11ty.dev" target="_blank">11ty</a> static site generator, with the <a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a> templating language, and hosted by <a href="https://pages.cloudflare.com" target="_blank">Cloudflare Pages</a>. Source code available on <a href="https://github.com/DavidHunterScot/Website" target="_blank">GitHub</a>.</p>