---
title: Blog
layout: 'base.njk'
---

<h2 class="section-title">All Blog Entries</h2>

<section class="blog-entries">
  {% for entry in collections.entry | reverse %}
    {% if entry.data.date %}
      {% include 'entry-snippet.njk' %}
    {% endif %}
  {% endfor %} 
</section>