---
title: Home
layout: 'base.njk'
---

<p>Welcome to my Website!</p>
<p>Under Construction, please check back later.</p>

<p>If you wish to get in touch, my email is <script type="text/javascript">document.write('contact' + '@' + 'davidhunter' + '.' + 'scot');</script><noscript>contact [at] davidhunter [dot] scot</noscript></p>