---
title: Home
layout: 'base.njk'
---

<h2>Welcome to my website!</h2>
<p>It is heavily Under Construction, please bare that in mind. Some things may break or disappear altogether. You can always check back at a later time to see how things are progressing.</p>

<p>You're probably here to learn about me, so head on over to the about page.</p>
<p><a href="/about">More About Me</a></p>